@model IEnumerable<SwissChatClient.Models.ContactViewModel.ContactResponse> 

<!DOCTYPE html>
<html>
<head>
    <title>Contacts</title>
  
</head>
<body>
    <header>
        <div class="container">

            <nav>
                <ul>
                   
                   
                    <li><a href="#" class="link-light">Groups</a></li>
                    <li> <a asp-controller="Contact" asp-action="ReceiveMessage" class="link-light">Messages</a></li>
                    
                    <li><a href="#" class="link-light">Profile</a></li>
                    <li><a href="#" class="link-light">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-8"> <h5>Contacts</h5></div>
                <div class="col-sm-4">
                    <!-- Button to trigger the modal -->
                  
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addContact">
                        Create Contact
                    </button>
                </div>
            </div>
            <!-- Content here -->
           
           
            <hr/>

            <div class="tweet">
                <div class="user-avatar">
                </div>
                <div class="tweet-content">
                    @foreach(var item in Model)
                    {
                        bool logged = @item.IsAuthenticated;
                      
                        <div class="row">
                            <div class="col">
                                <h5><a >@item.Username</a></h5>
                            </div>
                            <div class="col">
                               
                            </div>
                           
                         
                            <div class="col">
                                <a asp-controller="Contact" asp-action="SendMessage" asp-route-id="@item.Username" class = "btn btn-outline-warning"> Chat..</a>
                         
                            </div>
                     
                        </div>
                        
                        <span>
                            @if (logged)
                            {
                                <p class="text-success">Online</p>
                                
                            }
                            else
                            {

                                <p class="text-secondary">Offline</p>
                            }
                        </span>
          
                        <hr/>
                     }
                </div>
            </div>
            <!-- More tweets... -->
        </div>
    </main>
 
</body>

<!-- Modal -->
@*<form action="" class="form-horizontal" id="CreateContactForm">*@
    <div class="modal fade" id="addContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="contact_username" class="form-control" placeholder="Enter Username"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" onclick="saveContact()"  class="btn btn-success">Save changes</button>*@
                <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
@*</form>
*@
</html>







